- if @clusters.first == nil
  - @areas.each do |area|
    %p
      %span.title= area.name
      %br
      = area.content.gsub(/\r\n/, '<br />')
- elsif @clusters.size > 1
  - @areas.each do |area|
    %p
      - if area.cluster.present?
        %span.title= area.cluster.name
        %br
      = area.cluster.content
    %p
      %span.title= area.name
      %br
      = area.content.gsub(/\r\n/, '<br />')
- elsif @clusters.size == 1
  %p
    %span.title= @clusters.first.name
    %br
    = @clusters.first.content
  - @areas.each do |area|
    %p
      %span.title= area.name
      %br
      = area.content.gsub(/\r\n/, '<br />')