= haml :admin_nav

%h2 Edit Area

%form{action: "/admin/areas/#{@area.id}", method: :post, role: 'form'}
  %input{type: "hidden", name: "_method", value: "put"}
  .row
    .col-sm-6
      .form-group
        %label{for: 'day'} Day of the Month
        %select{name: 'area[day]', class: 'form-control'}
          - (1..31).each do |d|
            %option{value: d, selected: @area.day == d}= d
    .col-sm-6
      .form-group
        %label{for: 'cluster_id'} Cluster
        %select{name: 'area[cluster_id]', class: 'form-control'}
          %option No Cluster
          - @clusters.each do |c|
            %option{value: c.id, selected: @area.cluster_id == c.id}= c.name
  .row
    .col-md-12
      .form-group
        %label{for: 'area_name'} Area Name
        %input{type: 'text', name: 'area[name]', class: 'form-control', value: @area.name}
    .col-md-12
      .form-group
        %label{for: 'area_content'} Content
        %textarea{name: 'area[content]', class: 'form-control', rows: 10}= @area.content
  %input{type: 'submit', value: 'Save Area', class: 'btn btn-default'}