= haml :admin_nav

%h2 Edit Nation

%form{action: "/admin/nations/#{@nation.id}", method: :post, role: 'form'}
  %input{type: "hidden", name: "_method", value: "put"}
  .row
    .col-sm-6
      .form-group
        %label{for: 'day'} Day of the Month
        %select{name: 'nation[day]', class: 'form-control'}
          - (1..31).each do |d|
            %option{value: d, selected: @nation.day == d}= d
    .col-sm-6
      .form-group
        %label{for: 'province_id'} Cluster
        %select{name: 'nation[province_id]', class: 'form-control'}
          %option No Cluster
          - @provinces.each do |c|
            %option{value: c.id, selected: @nation.province_id == c.id}= c.name
  .row
    .col-md-12
    .col-md-12
      .form-group
        %label{for: 'nation_content'} Content
        %textarea{name: 'nation[content]', class: 'form-control', id: 'editable', rows: 2}= @nation.content
  %input{type: 'submit', value: 'Save Nation', class: 'btn btn-default'}
